
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');
*{
    font-family:"Exo 2";
    margin: 0;
}
body{
    margin: 0;
    background-color: #b4d5cb;

}

.welcome{
    margin-bottom: 50px;
}

.welcome h1{
    color: #0B2027;
    text-align: center;
    font-size: 60px;
}
.welcome h2 {
    color: #0B2027;
    text-align: center;
font-size: 40px;
}